<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/template.css') }}">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1 id="about_heading">About WikiFe</h1>
    <p id="about_details"> This is part of a fun hobby project. This project can be viewed as a low-key alternative front-end for Wikipedia which returns the summary of the search text entered by the user from Wikipedia.
    <br>An interesting feature called Trending shows the most visited Wikipedia pages globally in the last day. This gives an idea of what is capturing people's mind recently.
    The Time Travel feature lets the user check out the most trending topics for any particluar day in the past. The API currently only supports days as long back as May 1, 2015.</p>
    <br>
    <p id="about_details">If you want to know more or contribute towards the project, feel free to contact through <a href="https://github.com/InvincibleJuggernaut/WikiFe">Github</a>.</p>

    {% endblock %}
  </body>
</html>
