<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="info_title">Time Travel</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/template.css') }}">
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <h2  class="info_heading" align="center">Go back in time !</h2>
    <p id= "disclaimer_timetravel">*Choose any day of your liking from the past. Dates before May 1, 2015 currently not supported*</p>
    <div id="date_div">
    <form method="POST">
        <input id="date_entry" type="date" name="dayinput" min="2015-05-01" required>
        <br>
        <input type="submit" id="submit_day">
    </form>
    </div>
    
    
    {% endblock %}
</body>
</html>
